html {
  height: 100%;
}
body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
}

nav {
  height: 15px;
  color: #ff0000;
  margin-bottom: 31.5px;
  margin-top: 31.5px;
}

ul {
  padding: 0;
  margin: auto;
  text-align: center;
}

li {
  display: inline-block;
  align-items: center;
  margin-right: 36px;
  margin-left: 36px;
}

a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  text-decoration: none;
}

img {
  background: url(./img/image1.jpg);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  color: #373737;
}

h2 {
  height: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 38px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin-left: 67.5px;
  margin-right: 67.5px;
  margin-bottom: 28px;
  margin-top: 0;
}

button {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;

  width: 191px;
  height: 51px;
  left: 544.5px;
  right: 544.5px;
  background: #ff0000;
  border-radius: 4px;
  margin: 66px auto;
  display: block;
}

footer {
  height: 39px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin-left: 900px;
  margin-right: 105px;
  margin-bottom: 29px;
  margin-top: 40px;
}
